fastapi>=0.61.2
mangum>=0.1.0
fastapi-utils
wheel
pypika
asyncpg
pydantic[dotenv]
buildpg
aiocache
jq
orjson==3.6.8
msgpack
asyncpg
uvicorn
pytz
jinja2
typer
markdown
psycopg2-binary
dateparser
pyhumps
