annotated-types==0.7.0 ; python_version >= "3.11"
botocore==1.37.22 ; python_version >= "3.11"
jmespath==1.0.1 ; python_version >= "3.11"
pydantic-core==2.33.0 ; python_version >= "3.11"
pydantic-settings==2.8.1 ; python_version >= "3.11"
pydantic==2.11.0 ; python_version >= "3.11"
pyhumps==3.8.0 ; python_version >= "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.11"
python-dotenv==1.1.0 ; python_version >= "3.11"
s3transfer==0.11.4 ; python_version >= "3.11"
six==1.17.0 ; python_version >= "3.11"
typing-extensions==4.13.0 ; python_version >= "3.11"
typing-inspection==0.4.0 ; python_version >= "3.11"
urllib3==2.3.0 ; python_version >= "3.11"
