name: Test

on: 
  pull_request:
    types: [opened, reopened]
    branches:
      - main
      - staging
  workflow_dispatch:


env:
  DATABASE_READ_USER: "placeholder"
  DATABASE_READ_PASSWORD: "placeholder"
  DATABASE_WRITE_USER: "placeholder"
  DATABASE_WRITE_PASSWORD: "placeholder"
  DATABASE_DB: "placeholder"
  DATABASE_HOST: "placeholder"
  DATABASE_PORT: 42

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: '3.11'

      - name: Install dependencies
        working-directory: ./openaq_api
        run: |
            pip install -r requirements_dev.txt
      
      - name: Run tests
        working-directory: ./openaq_api
        run: |
            pytest tests/unit/test_v3_queries.py -vv -s

